<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Welcome!</h1>
      <br>
      <p>
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
      </p>
      <p>Click <a href="/logout">here</a> to logout.</p>
      <p>Click <a href="/file">here</a> to receive your client script.</p>
    </div>
  </body>
</html>
