<!DOCTYPE html>
<html>
  <head>
    <title>Flask Intro</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Welcome!</h1>
      <br>
      <p>
      {% for message in get_flashed_messages() %}
        {{ message }}
      {% endfor %}
      </p>
      <p>Click <a href="/logout">here</a> to logout.</p>

      <p>
        I want access to VPN service for
        <form action="/linux_download" method="POST">
        <input type="text" name="minutes">
        <input type="submit" name="linux-form" value="Download Linux Script">
        </form> minutes.
      </p>

      <p>
        I want access to VPN service for
        <form action="/windows_download" method="POST">
        <input type="text" name="minutes">
        <input type="submit" name="windows-form" value="Download Windows Script">
        </form> minutes.
      </p>

      <p>If you are connected, click <a href="http://10.8.0.1/">here</a> for some cool applications.</p>

    </div>
  </body>
</html>
